.buttons {
  width: 33%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  gap: 0.5rem;
}

.buttons .icon {
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--primary);
  border: 3px solid var(--primary);
}


.buttons .icon:hover {
  transition: 0.3s;
  border-radius: 10px;
  color: var(--text);
  border-color: var(--text);
  background-color: var(--primary);
}