.middle {
  position: relative;
  height: 30%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* padding-bottom: 8rem; */
}

.middle .continue {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  min-height: 4rem;
  min-width: 12rem;
  width: auto;
  padding: 0.5rem;
  border: 1px solid var(--text);
}