.middle {
  position: relative;
  height: 30%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* padding-bottom: 8rem; */
}

.middle .continue {
  position: absolute;
  width: 6rem;
  height: 2rem;;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}