.highlighted {
  height: 2rem;
  width: 2rem;
  border: 2px solid var(--text);
}

.icon {
  height: 2rem;
  width: 2rem;
  border: 1px solid var(--secondary);
}


.turn {
  border: 2px solid var(--accent);
}