.modal {
  position: fixed;
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 6%;
  right: 5.5%;
  background: transparent;
  border: none;
  color: red;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}