.player {
  position: relative;
  width: 33%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.player .image {
 height: 12rem;
 width: 12rem;
 border: 1px solid gray;
}


.player .highlighted {
  border: 2px solid white;
}

.health {
  position: absolute; 
  left: 0rem; 
  top: -9rem;
  width: 30rem; 
  /* height: rem;  */
}

.health hr {
  width: 100%;
  height: 0.1rem;
  margin-bottom: 0.4rem;
}

 .health .name {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: -0.9rem;
}

 .health .info {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

 .health .info p {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: -0.2rem;
}

 .health progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  margin-bottom: 0.6rem;
  height: 0.5rem; 
  color: #ff0062;
  border: 1px solid #ad0505;
}

 progress[value]::-webkit-progress-bar,
 progress[value] {
  background-color: #b0aaaa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  border-radius: 2px;
}

 progress[value]::-webkit-progress-value {
  background-color: #ad0505;
  transition: all 0.1s ease-out;
}

 progress[value]::-moz-progress-bar {
  background-color: #ad0505;
  transition: all 0.1s ease-out;
}

.statusEffects {
  margin: 0;
  margin-top: -0.3rem;
} 

.effect {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #ad0505; 
  cursor: pointer; 
}