.bottom {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  /* border: 9px solid red; */
  transition: all 0.3s ease-in-out;
}

.bottom .test {
  width: 30rem;
  height: 100%;
  border: 9px solid red;
}