.damage-display {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 100%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
  margin: 0;
  font-size: 3rem;
  list-style: none;
}

.damage-display li {
  text-align: center;
  color: var(--text);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: fadeOut 2.1s ease-in-out;
}

.damage-display .damage {
  color: var(--text);
  animation: damage-shake 1s ease-in;;
}
.damage-display .heal {
  color: white
}
.damage-display .burning {
  color: orange;
}

.damage-display .fire-damage {
  color: orange;
  animation: damage-shake 1s ease-in;
}

.damage-display .chilled {
  color: lightblue;
}

.damage-display .ice-damage {
  color: lightblue;
  animation: damage-shake 1s ease-in;
}

.damage-display .poisoned {
  color: lightgreen;
}

.damage-display .poison-damage {
  color: lightgreen;
  animation: damage-shake 1s ease-in;
}

.damage-display .stunned {
  color: lightyellow;
}

.damage-display .lightning-damage {
  color: lightyellow;
  animation: damage-shake 1s ease-in;
}
.damage-display .diseased {}
.damage-display .haunted {}
.damage-display .cursed {}
.damage-display .withered {}
.damage-display .restrained {}





@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes damage-shake {
  0% { transform: translateY(0) rotate(0.2deg); }
  10% { transform: translateY(-5px) rotate(0.1deg); }
  20% { transform: translateY(5px) rotate(-0.1deg); }
  30% { transform: translateY(-5px) rotate(0.1deg); }
  40% { transform: translateY(5px) rotate(-0.1deg); }
  50% { transform: translateY(-2px) rotate(0.1deg); }
  60% { transform: translateY(2px) rotate(-0.1deg); }
  70% { transform: translateY(-1px) rotate(0.1deg); }
  80% { transform: translateY(0) rotate(0.2deg); }
  90% { transform: translateY(0) rotate(0.2deg); }
  100% { transform: translateY(0) rotate(0.2deg); }

}