.actions {
  position: relative;
  width: 20%;
  height: 85%;
  margin: 0rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.actions button {
  height: 4rem;
  width: 80%;
  border: 1px solid var(--text);
}



.actions div button {
  height: 4rem;
  width: 100%;
}

.spells {
  position: relative;
  width: 20%;
  height: 70%;
  padding: 0.5rem;
  overflow: auto;
  /* border: 1px solid var(--accent); */
  /* background-color: var(--primary); */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}

.spells h3 {
  border-bottom: 1px solid var(--text);
  text-align: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.spells .close {
position: absolute;
right: 2%;
top: 0%;
cursor: pointer;
color: var(--text);
font-weight: 600;
font-size: 1.2rem;
}

.spells ul {
  display: grid;
  align-content: start;
  justify-content: start;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(3.5rem, 1fr)); 
  gap: 0.5rem;
  height: 90%;
  width: 90%;
  padding: 0.5rem;
  overflow-y: auto;
}

.spells li {
  list-style: none;
  cursor: pointer;
  aspect-ratio: 1;
  border: 3px solid var(--primary);
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spells li:hover {
  transition: 0.3s;
  scale: 1.1;
}

.spells .disabled {
  pointer-events: none;
  cursor: none;
  color: grey;
}

.disabled-btn {
  opacity: 0.4;
  pointer-events: none;
}