.inventory p {
  margin: 0;
  font-size: 1.2rem;
}

.inventory h3 {
  font-size: 1.5rem;
}

.inventory h4  {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.inventory {
  height: 90%;
  width: 90%;
  background-color: rgb(29, 26, 38);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  padding: 1rem;
}

.inventory h1 {
  text-align: center;
  font-size: 1.5rem;
  padding: 0rem;
  margin: 0;
  border-bottom: 1px solid white;
  width: 30%;
}

.inventory .container {
  display: flex;
  width: 100%;
  flex: 1;
}

.inventory .container .vertical {
  border-left: 2px solid white;
}

.inventory .container .left {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 2.5rem;
}

.inventory .container .left .stats {
  flex: 1;
  text-align: center;

}

.inventory .container .right {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.inventory .container .left hr {
  width: 70%;
  margin-top: 0;
}

.inventory .container .right .buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  width: 90%;
  /* gap: 4rem; */
  border-bottom: 2px solid white;
}

.buttons button {
  height: 1.5rem;
  font-size: 0.8rem;
  border: 1px solid white;
  border-bottom: none;
  cursor: pointer;
  background-color: rgb(29, 26, 38);
  color: white;
}

button.active {
  background-color: white;
  font-size: 0.8rem;
  color: rgb(29, 26, 38)
}

.inventory .container .right .items {
  width: 90%;
  background-color: white;
  flex: 3;
  padding: 1rem;
  margin: 0;
  margin-bottom: 2rem;
  display: grid;
  align-content: flex-start;
  grid-template-columns: repeat(auto-fill, minmax(8%, 1fr)); /* Adjust based on the number of items you want to display */
  gap: 1.5rem;
  overflow: auto;
}

.items li {
  list-style: none;
  aspect-ratio: 1;
  width: 100%;
  height: auto;
  border: 2px solid red;
  cursor: pointer;
  border-radius: 100%;
}

.items li:hover {
  transition: 0.3s;
  scale: 1.1;
}


.inventory .container .right .attuned {
  width: 90%;
  background-color: rgb(29, 26, 38);
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.attuned ul li {
  list-style: none;
  aspect-ratio: 1;
  width: 100%;
  height: auto;
  border: 2px solid red;
  cursor: pointer;
}


.attuned h1 {
  flex: 1;
}

.attuned ul {
  border: 1px solid white;
  margin: 0;
  padding: 0;
  flex: 3;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}