.column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  height: 100%;
  border: 3px solid var(--secondary);
  min-width: 310px;
  padding: 1rem;
  background-color: var(--background);
  border-radius: 10px;
}

.column:hover {
  /* background-color:#2a2f50; */
  /* transition: 0.3s ease-in-out;
  transform: scale(1.01); */
}

.column h1 {
  text-align: center;
  border-bottom: 2px solid var(--primary);
  margin: 1rem;

}

/* .column .filter {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem;
} */

.column .tomes {
  height: 100%;
  width: 100%;
  /* border: 3px solid var(--secondary); */
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 0.5rem;
  overflow: auto;
}

.tome {
  position: relative;
  padding: 1rem;
  width: 100%;
  height: 6rem;
  border: 2px solid var(--accent);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  transition: 0.3s ease;
  background-color: var(--primary);
}

/*  */

.tome progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80%;
  height: 0.4rem; 
  /* border: 1px solid var(--accent); */
  border-radius: 5px;
}

.tome progress[value]::-webkit-progress-bar,
.tome progress[value] {
  background-color: #b0aaaa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  border-radius: 5px;
}

.tome progress[value]::-webkit-progress-value {
  background-color: var(--accent);
  transition: all 0.1s ease-out;
  border-radius: 5px;
}

.tome:hover progress[value]::-webkit-progress-value {
  background-color: var(--primary);
}


.tome progress[value]::-moz-progress-bar {
  transition: all 0.1s ease-out;
  border-radius: 5px;
}


/*  */

.tome p {
  text-align: center;
  font-size: 1.0rem;
  font-weight: 800;
}

.tome:hover {
  background-color: var(--accent);
  transition: 0.3s ease;
  cursor: pointer;
}

.tome h3 {
  font-weight: 600;
}

.tome:hover h3 {
  color: var(--primary);
}

.tome:hover p {
  color: var(--primary);
}

.complete {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  color: lightgreen;
}

.incomplete {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  color: lightcoral;
}

.tomes-info-icon {
  color: var(--secondary);
  height: 1rem;
}