.column {
  width: 33%;
  height: 100%;
  border: 3px solid var(--secondary);
  min-width: 310px;
  padding: 1rem;
}

.column h1 {
  text-align: center;
  margin: 1rem;
  border-bottom: 2px solid var(--primary);
}
.column .dungeons {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  /* border: 5px solid var(--accent); */
}

.column .dungeons p {
  margin: 1rem;
}

.column .dungeons .selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40%;
  width: 100%;
  border: 3px solid var(--accent);
}

.column .dungeons .description {
  text-align: center;
  width: 100%;
  border: 3px solid var(--accent);
  margin: 0;
}

.column .dungeons button {
  position: absolute;
  width: 16rem;
  height: 4rem;
  bottom: 2rem;
  background-color: var(--accent);
  color: var(--dark);
  border-radius: 10px;
}