.spellbook {
  height: 90%;
  width: 60%;
  min-width: 50rem;
  max-width: 55rem;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--secondary);
  padding: 1rem;
  overflow: visible;
  border-radius: 10px;
}

.spellbook h1 {
  text-align: center;
  font-size: 1.5rem;
  padding: 0rem;
  margin: 0;
  border-bottom: 2px solid var(--secondary);
  width: 30%;
}

.spellbook .container {
  display: flex;
  padding: 1rem;
  height: 100%;
  width: 100%;
}

.spellbook .container .schools {
  position: relative;
  margin-right: 2rem;
  margin-left: 0;
  padding: 0;
  list-style: none;
  width: 30%;
}

.spellbook .container .schools h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--secondary);
}


.spellbook .container .schools ol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.spellbook .container .schools ol li {
  border-radius: 5px;
}

.spellbook .container .schools ol .inactive-school {
  cursor: pointer;
  margin-bottom: 1rem;
  border: 1px solid var(--accent);
  background-color: var(--primary);
  font-size: 1.5rem;
  text-align: center;
}

.spellbook .container .schools ol .active-school {
  background-color: var(--accent);
  color: var(--background);
  cursor: pointer;
  margin-bottom: 1rem;
  border: 1px solid var(--accent);
  font-size: 1.5rem;
  text-align: center;
}


.spellbook .container .schools ol li:hover {
  background-color: var(--accent);
  color: var(--background);
  cursor: pointer;
}

.spellbook .container .schools .header {
  position: absolute;
  bottom: 0.5%;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.spellbook .container .header h3 {
  margin: 0;
  font-size: 1.2rem;
}

.spellbook .container button {
  width: 12rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary);
  background-color: var(--accent);
  cursor: pointer;
  border-radius: 0.5rem;
}

.spellbook .container button:hover {
  transform: scale(1.1);
  transition: 0.3s all;
}


.spellbook .container .skill-tree {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  gap: 0.2rem;
  border: 2px solid var(--primary);
  border-radius: 10px;
  background-color: var(--background);
}

.spellbook .container .skill-tree .expertise {
  position: relative;
  height: 25%;
  width: 100%;
  /* border: 1px solid var(--secondary); */
  background-color: var(--primary);
  border-radius: 10px;
}

.spellbook .container .skill-tree .closed {
  background-color: rgba(0, 0, 0, 0.2);
}

.skill-tree .expertise h3 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%); 
  font-size: 1.2rem;
}

.skill-tree .expertise h4 {
  position: absolute;
  top: 10%;
  right: 0%;
  transform: translate(-50%, -50%); 
  font-size: 0.9rem;
}

.spellbook .container .skill-tree .expertise p {
  text-align: center;
  font-size: 0.7rem;
}

.skill-tree .expertise ul {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skill-tree .expertise ul li {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  height: 5rem;
  width: 5rem;
  border: 1px solid var(--secondary);
  border-radius: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.4;
}

/* .skill-tree .expertise ul li:hover {
  transition: 0.3s;
  border: 1px solid var(--text);
  opacity: 1;
  transform: scale(1.1);
} */

.skill {
  box-shadow: inset 0.5rem 0.5rem 2rem rgba(0, 0, 0, 2);
}

.skill:hover {
  border-color: var(--text);
  transition: 0.3s;
  border: 1px solid var(--text);
  opacity: 1;
  transform: scale(1.1);
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 4.8);
}