:root {
--text: rgb(222, 221, 221);
--background: #2D3250;
--primary: #424769;
--secondary: #7077A1;
--accent: #f6b17a;
--dark: #181b2d;

background-color: var(--background);
}

#root {
  height: 100vh;
  width: 100vw; 
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  color: var(--text);
}

p {
  margin: 0;
  padding: 0;
  color: var(--text);
}

button {
  background-color: var(--accent);
  border: 1px solid var(--primary);
}

div {
  border-color: var(--accent);
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  /* background-image: url(assets/skull-texture.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

