:root {
--text: rgb(222, 221, 221);
--background: #2D3250;
--primary: #424769;
--secondary: #7077A1;
--accent: #f6b17a;
--dark: #181b2d;

background-color: var(--background);
}

@font-face {
  font-family: 'CrimsonText';
  src: url('/assets/fonts/crimson-text/CrimsonText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CinzelDecorative';
  src: url('/assets/fonts/cinzel-decorative/CinzelDecorative-Regular.ttf') format('truetype');
}

/* @font-face {
  font-family: 'Vecna Bold';
  src: url('src/assets/fonts/vecna/VecnaBold-4YY4.ttf') format('truetype');
} */

#root {
  height: 100vh;
  width: 100vw; 
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/* h1, h2, h3 {
  font-family: '', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} */

h1, h2, h3, h4, h5 {
  font-family: 'CinzelDecorative', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text);
  pointer-events: none;
  user-select: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin: 0;
  padding: 0;
  color: var(--text);
  pointer-events: none;
  user-select: none;
  font-family: 'CrimsonText', sans-serif;
}

button {
  /* background-color: var(--accent);
  border: 2px solid var(--accent); */
  color: var(--dark);
  border-radius: 10px;
  font-family: 'CrimsonText', sans-serif;
}

li {
  font-family: 'CrimsonText', sans-serif;
}

div {
  border-color: var(--accent);
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  /* background-image: url(assets/skull-texture.jpg); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay; */
}

/* fade-effect.css */
.fade-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}

.fade-overlay.visible {
  opacity: 1;
  pointer-events: all;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translate(-50%, -50%);
  object-fit: cover;
}


/* @media only screen and (max-width: 768px) {
 
} */

@media only screen and (max-height: 430px) {
  body {
    border: none;
  }
  
}