.column {
  width: 33%;
  height: 100%;
  padding: 1rem;
  border: 1px solid red;
  min-width: 310px;
  display: flex;
  flex-direction: column;

}

.player {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  flex: 1;
}

.player div {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
}

/* .player .image {
 height: 12rem;
 width: 12rem;
 border: 1px solid gray;
} */

.column hr {
  width: 100%;
}

.column .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.column .menu button {
  width: 10rem;
  height: 3rem;
}