.column {
  width: 33%;
  height: 100%;
  padding: 1rem;
  border: 3px solid var(--secondary);
  min-width: 310px;
  display: flex;
  flex-direction: column;

}

.player {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
  flex: 3;
}

.player h1 {
  text-align: center;
}

.player p {
  text-align: center;
}

.player .attributes-container {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
width: 100%;
}

.attributes-info-icon {
  height: 1rem;
  color: var(--secondary);

}

.player .attributes-container .stats .attribute {
  display: flex;
  justify-content: center;
  gap: 1.5rem
}

.player .attributes-container .stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.attribute .attribute-icon {
  height: 1.5rem;
  color: var(--secondary);
}

.attribute .arrow-icon {
  height: 1.5rem;
  color: var(--accent);
  cursor: pointer;
}

.attribute .arrow-icon:hover {
  transition: 0.3s;
  scale: 1.3;
}

.column hr {
  width: 100%;
  color: var(--secondary);
}

.column .menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.column .menu .icon {
  width: 2rem;
  cursor: pointer;
  height: auto;
  color: var(--accent);
}

.column .menu .icon:hover {
  transition: 0.3s;
  scale: 1.1;
}