.container {
  position: relative;
  display: inline-block; 
}

.tooltip {
  visibility: visible;
  position: absolute;
  z-index: 99;
  bottom: 125%;
  left: 75%;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  opacity: 0.8;
  height: auto;
  min-width: 5rem;
  max-width: 20rem; 
  font-size: 0.9rem;
  pointer-events: none;
}

.tooltip p {
  margin: 0;
  text-align: left;
}

.tooltip span {
  display: block;
}

.tooltip .title {
  margin: 0;
  font-weight: 600;
  white-space: nowrap;
}

.tooltip .text {
  white-space: nowrap;
}

.tooltip .description {
  margin: 0;
}

.tooltip .detail {
  margin: 0;
}

/* POSITIONS */

/* THREAT */

.threat {
  visibility: visible;
  position: absolute;
  z-index: 99;
  bottom: -405%;
  left: -320%;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  opacity: 0.8;
  height: auto;
  min-width: 10rem;
  max-width: 10rem; 
  font-size:  1rem;
  pointer-events: none;
}

.threat .title {
  font-weight: 600;
}

/* Tomes Info */

/* The container represents the div the icon is wrapped around */
.tomes-info-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
}


.tomes-info {
  visibility: visible;
  position: absolute;
  z-index: 99;
  bottom: -750%;
  right: 100%;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  opacity: 0.8;
  height: auto;
  min-width: 10rem;
  max-width: 10rem; 
  font-size: 0.9rem;
  pointer-events: none;
}

.tomes-info .title {
  font-weight: 600;
}

.tomes-info div p {
  text-align: left;
}

/* Player Column */

/* The container represents the div the icon is wrapped around */
.attributes-info-container {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0%;
  right: 0%;
  border: 1px solid red;
}

.attributes-info {
  visibility: visible;
  position: absolute;
  z-index: 99;
  top: 50%; /* Center vertically */
  left: 160%; /* Position to the right of the item */
  transform: translateY(-50%); /* Center vertically */
  background-color: black;
  color: var(--text);
  padding: 5px;
  border-radius: 5px;
  opacity: 1;
  height: auto;
  min-width: 12rem;
  max-width: 12rem;
  font-size: 0.9rem;
  pointer-events: none;
  text-align: center; /* Optional: Center text inside tooltip */
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  }
  
  /* Additional CSS to style the tooltip's arrow */
  .attributes-info::after {
    content: '';
    position: absolute;
    top: 50%; /* Center the arrow vertically */
    right: 100%; /* Position the arrow to the left of the tooltip */
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent; /* Arrow pointing left */
  }

.attributes-info .title {
  font-weight: 600;
}

.attributes-info p {
  text-align: left;
}

/* SKILLS */

.skill {
  visibility: visible;
  position: absolute;
  z-index: 99;
  bottom: 100%; /* Position above the item */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  background-color: black;
  color: var(--text);
  padding: 5px;
  border-radius: 5px;
  opacity: 1;
  height: auto;
  min-width: 12rem;
  max-width: 12rem;
  font-size: 0.9rem;
  pointer-events: none;
  text-align: center; /* Optional: Center text inside tooltip */
  display: flex;
  flex-direction: column;
  /* gap: 0.2rem; */
}

/* Additional CSS to style the tooltip's arrow */
.skill::after {
  content: '';
  position: absolute;
  top: 100%; /* Position the arrow at the bottom of the tooltip */
  left: 50%; /* Center the arrow horizontally */
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent; /* Arrow pointing down */
}


.skill .title {
  font-weight: 600;
}

/* STATUS EFFECTS */

.effect {
  visibility: visible;
  position: absolute;
  z-index: 99;
  bottom: 220%; /* Position above the item */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  background-color: black;
  color: var(--text);
  padding: 5px;
  border-radius: 5px;
  opacity: 1;
  height: auto;
  min-width: 12rem;
  max-width: 12rem;
  font-size: 0.9rem;
  pointer-events: none;
  text-align: center; /* Optional: Center text inside tooltip */
  display: flex;
  flex-direction: column;
  /* gap: 0.2rem; */
}

/* Additional CSS to style the tooltip's arrow */
.effect::after {
  content: '';
  position: absolute;
  top: 100%; /* Position the arrow at the bottom of the tooltip */
  left: 50%; /* Center the arrow horizontally */
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent; /* Arrow pointing down */
}


.effect .title {
  font-weight: 600;
}



/* RIGHT MIDDLE */
.right-middle {
  visibility: visible;
  position: absolute;
  z-index: 99;
  top: 50%; /* Center vertically */
  left: 120%; /* Position to the right of the item */
  transform: translateY(-50%); /* Center vertically */
  background-color: black;
  color: var(--text);
  padding: 5px;
  border-radius: 5px;
  opacity: 1;
  height: auto;
  min-width: 12rem;
  max-width: 12rem;
  font-size: 0.9rem;
  pointer-events: none;
  text-align: left; /* Optional: Center text inside tooltip */
  display: flex;
  flex-direction: column;
  /* gap: 0.2rem; */
}

/* Additional CSS to style the tooltip's arrow */
.right-middle::after {
  content: '';
  position: absolute;
  top: 50%; /* Center the arrow vertically */
  right: 100%; /* Position the arrow to the left of the tooltip */
  transform: translateY(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent; /* Arrow pointing left */
}

.right-middle .title {
  font-weight: 600;
}

.spell-list-container {
  aspect-ratio: 1;
  flex: 0 1 3rem; 
}

/* BOTTOM LEFT */
.bottom-left {
  visibility: visible;
  position: absolute;
  z-index: 99;
  top: 120%; /* Position below the item */
  left: -140%; /* Shift to the left */
  transform: translateX(-50%); /* Center horizontally */
  background-color: black;
  color: var(--text);
  padding: 5px;
  border-radius: 5px;
  opacity: 1;
  height: auto;
  min-width: 12rem;
  max-width: 12rem;
  font-size: 0.9rem;
  pointer-events: none;
  text-align: center; /* Optional: Center text inside tooltip */
  display: flex;
  flex-direction: column;
  /* gap: 0.2rem; */
}

/* Additional CSS to style the tooltip's arrow */
.bottom-left::after {
  content: '';
  position: absolute;
  bottom: 100%; /* Position arrow at the upper side */
  right: 10px; /* Shift arrow to the right side */
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent; /* Arrow pointing up */
}

.bottom-left .title {
  font-weight: 600;
}

/* ROOM SUMMARY */
.room-summary-icon {
  visibility: visible;
  position: absolute;
  z-index: 99;
  bottom: 120%; /* Position above the item */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  background-color: black;
  color: var(--text);
  padding: 5px;
  border-radius: 5px;
  opacity: 1;
  height: auto;
  min-width: 12rem;
  max-width: 12rem;
  font-size: 0.9rem;
  pointer-events: none;
  text-align: center; /* Optional: Center text inside tooltip */
  display: flex;
  flex-direction: column;
  /* gap: 0.2rem; */
}
  
  /* Additional CSS to style the tooltip's arrow */
  .room-summary-icon::after {
    content: '';
    position: absolute;
    top: 100%; /* Position the arrow at the bottom of the tooltip */
    left: 50%; /* Center the arrow horizontally */
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent; /* Arrow pointing down */
  }


/* ITEM */
/* 
.item-container {
  height: 5rem;
  width: 5rem;
} */

.item {
  visibility: visible;
  position: absolute;
  z-index: 99;
  bottom: 120%; /* Position above the item */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  background-color: black;
  color: var(--text);
  padding: 5px;
  border-radius: 5px;
  opacity: 1;
  height: auto;
  min-width: 12rem;
  max-width: 12rem;
  font-size: 0.9rem;
  pointer-events: none;
  text-align: left; /* Optional: Center text inside tooltip */
  display: flex;
  flex-direction: column;
  /* gap: 0.2rem; */
}

/* Additional CSS to style the tooltip's arrow */
.item::after {
  content: '';
  position: absolute;
  top: 100%; /* Position the arrow at the bottom of the tooltip */
  left: 50%; /* Center the arrow horizontally */
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent; /* Arrow pointing down */
}


.item .title {
  font-weight: 600;
}
