.container {
  position: relative;
  /* display: inline-block; */
  /* width: 4rem;
  height: 4rem; */
}

.tooltip {
  visibility: visible;
  position: absolute;
  z-index: 99;
  bottom: 125%;
  left: 100%;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  opacity: 0.8;
  height: auto;
  max-width: 20rem; 
  font-size:  0.8rem;
  pointer-events: none;
}

.tooltip p {
  margin: 0;
}

.tooltip .title {
  margin: 0;
  font-weight: 600;
  white-space: nowrap;
}

.tooltip .description {
  margin: 0;
}

.tooltip .detail {
  margin: 0;
}